*
!.gitignore_global
!.bash.functions
!.bash.path
!.bashrc
!.bash_profile
!.git-completion.bash
!.gitconfig
!.gitignore
!.tmuxinator.bash
!.tmux.conf
!.tmuxp
!.tmuxp/*
!.special_fonts
!.special_fonts/*
!.sublime-settings
!.sublime-settings/*
!.sublime-settings/snippets
!.sublime-settings/snippets/*


!.apache
!.apache/*
!.apache/extra
!.apache/extra/*
!.apache/users
!.apache/users/*

!.zsh/
!.zshrc
!.zprofile
!.zsh.functions

!.config
!.config/*
!.config/*/*

!.scripts
!.scripts/*
