*
!.gitignore_global
!.bash.functions
!.bash.path
!.bash_profile
!.git-completion.bash
!.gitconfig
!.gitignore
!.tmuxinator.bash
!.tmux.conf
!.tmuxinator
!.tmuxinator/*
!.special_fonts
!.special_fonts/*

