[user]
	name = Nicolas Baptista
	email = nicolas@nbap.com.br
	signingkey = E7A69BB35F6D04A4
[color]
	ui = true
	interactive = auto
[alias]
	d = describe
	df = difftool
	s = status
	b = branch
	cm = commit -m
	cma = commit --amend
	psf = push --force
	ckb = checkout -b
	ckt = checkout -t
	ckf = checkout -f
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	ckm = checkout master
	ckd = checkout development
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	fa = fetch --all
[github]
	user = nbap
[push]
	default = current
[core]
	editor = nano
	whitespace = trailing-space
	excludesfile = /Users/nbap/.gitignore_global
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
