[user]
	name = Nicolas Baptista
	email = nicolas@nbap.com.br
	signingkey = E7A69BB35F6D04A4
[color]
	ui = true
	interactive = auto
[alias]
	d = describe
	df = difftool
	s = status
	b = branch
	cm = commit -m
	cma = commit --amend
	psf = push --force
	ckb = checkout -b
	ckt = checkout -t
	ckf = checkout -f
	rb = rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	ckm = checkout master
	ckd = checkout development
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	fa = fetch --all
[github]
	user = nbap
[push]
	default = current
[core]
	editor = nano
	whitespace = trailing-space
	excludesfile = /Users/nbap/.gitignore_global
[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
